.details{
  padding:20px;

  h2{
    padding-bottom:10px;
    color: $petrol-light;
  }

  h3{
    padding-bottom: 10px;
    color: $dark;
  }

  .excerpt{
    padding-bottom:10px;
    color: $dark-medium;
  }
  .long-desctiption{
    padding-bottom:10px;
  }
}